:root {
    --bg-color: #282c34;
    --text-color: #fff;

    --font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    font-size: var(--font-size);
    line-height: 1.3em;

    margin: 0;

    font-family: "Roboto", "Arial", "Segoe UI", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body > header, body > main, body > footer {
    display: inline-block;

    margin: 10px;
}

a {
    text-decoration: none;
    color: #7d7dff;

    transition: color 0.15s linear;
}

a:hover {
    text-decoration: underline;
    color: #afafff;
}

header {
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    text-align: center;
}

kbd {
    font-family: "Consolas", "Courier New", monospace;
    background-color: rgba(25, 27, 32, 0.8);
    padding: 2px 6px;
    border-radius: 5px;
}

.textCard {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 120%;
    border: 2px solid #999;
    border-radius: 10px;
}

#statusMessage {
    background-color: #1a4e1a;
}

#updateMessage:not(.hidden) {
    text-align: left;
    background-color: #4d3f11;
}

#dismissUpdateContainer {
    display: block;
    margin-top: 15px;
    text-align: center;
}

#dismissUpdate {
    font-size: var(--font-size);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100vw;

    text-align: center;
}

#footerContent {
    padding: 10px;
}