::root {
    --bg-color: #282c34;
    --text-color: #fff;
}

body {
    font-family: "Roboto", "Arial", "Segoe UI", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: #7d7dff;

    transition: color 0.15s linear;
}

a:hover {
    text-decoration: underline;
    color: #afafff;
}

header {
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    text-align: center;
    padding-top: 25px;
}

#statusMessage {
    display: inline-block;
    padding: 15px;
    font-size: 120%;

    background-color: #1a4e1a;
    border: 2px solid #999;
    border-radius: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100vw;

    text-align: center;
}

#footerContent {
    padding: 10px;
}